#device-equipment {
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
  }
  
  #device-equipment .section-title h2 {
    font-size: 1.5em;
    color: #702b9d;
    text-decoration: underline;
  }
  
  #device-equipment .section-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  #device-equipment .column-left, #device-equipment .column-right {
    width: 50%;
    padding: 10px;
  }
  
  #device-equipment .column-right img {
    width: 100%;
    height: auto;
  }
  
  /* Existing CSS for Usage References */
  #usage-references {
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
  }
  
  #usage-references .section-title h2 {
    font-size: 1.5em;
    color: #702b9d;
    text-decoration: underline;
  }
  
  #usage-references .section-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  #usage-references .column-left, #usage-references .column-right {
    width: 50%;
    padding: 10px;
  }
  
  #usage-references .column-right img {
    width: 100%;
    height: auto;
  }
  
  /* CSS for centering text and button */
  #device-equipment .section-content,
  #usage-references .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  #device-equipment .section-content .column-left p,
  #device-equipment .section-content .column-right p,
  #usage-references .section-content .column-left p,
  #usage-references .section-content .column-right p {
    margin-bottom: 10px;
  }
  
  #device-equipment .view-button,
  #usage-references .view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #702b9d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #702b9d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Adjustments for mobile view */
  @media (max-width: 767px) {
    .column-left, .column-right {
      width: 100%;
    }
  }
  
  </style>