body {
  background-image: url("images/gamebg.jpg");
  background-position: center center;
  background-size: cover;
  font-family: 'Monaco', monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

#backButton {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff8cc6; 
  color: #fff;
  border: 2px solid #ff69b4; 
}

#backButton:hover {
  background-color: #ff69b4; 
  border: 2px solid #e32987;
  color: #fff;
}

#canvasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  padding: 0px 350px;
}

canvas {
  border: 12px solid #ff69b4;
  background-color: white;
  margin-top: 20px;
}